@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-color: #1f373d;
    --main-color: #ffcc01;
}


* {
  box-sizing: border-box;
  margin: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*------------------------------------------------------Navbar---------------------------------------------------------*/
.logo-img {
    width: 110px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    padding: 0 10px;
    font-size: 15px;
    color: var(--font-color);
    font-weight: 500;
}

.hd-link {
    text-decoration: none;
    padding: 0 10px;
    font-size: 15px;
    color: var(--font-color);
    font-weight: 500;
}

.hd-btn {
    background-color: var(--main-color);
    color: var(--font-color);
    border: none;
    font-family: inherit;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: 500;
}

/* ---------------------------------------------------------------Hero---------------------------------------------------------------*/

.hero-img-container {
    float: right;
    margin: 25px 100px;
    
}

.hero-img {
    width: 960px;
    height: 630px;
    filter: grayscale(50%);
    opacity: 0.6;
}

.hero-img-container {
    position: relative;
}

.heading-container {
    position: absolute;
    top: 30%;
    left: 4.5%;
    transform: translate(-50%, -50%);
}

.search-box-container {
    position: absolute;
    top: 45%;
    left: 12.5%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.btm-text-container {
    position: absolute;
    bottom: 0.6%;
    right: 0;
    background-color: var(--main-color);
    padding: 20px 30px;
}

.btm-text {
    display: inline-block;
    color: var(--font-color);
    font-weight: 600;
    font-size: 15px;
    padding: 0 20px;
}

.icon {
    vertical-align: middle;
    filter: invert(1);
    width: 20px;
}

.hero-heading {
    font-size: 45px;
    color: var(--font-color);
}

.search-icon-container {
    position: absolute;
    left: 0%;
    bottom: 0%;
    right: 0;
    top: 35%;
}

.search-box {
    padding: 20px;
    width: 50%;
    outline: none;
    border: none;
}

.search-box:placeholder-shown {
    font-family: inherit;
    margin: 0 15px;
}

.search-btn {
    border: none;
    background-color: var(--main-color);
    padding: 20px 30px;
    font-family: inherit;
    position: absolute;
    margin-left: -20px;
    font-weight: 600;
    color: var(--font-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.arrow-down-container {
    position: absolute;
    left: -41%;
    bottom: 12%;
}

.rotate-txt {
    transform: rotate(-90deg);
    display: inline-block;
    font-size: 13px;
    color: var(--font-color);
}

.down-arrow {
    position: absolute;
    left: 38%;
    top: 300%;
    filter: invert(17%) sepia(11%) saturate(1807%) hue-rotate(145deg) brightness(92%) contrast(88%);
}